# Binaries and executable files
/cmd/api/devices-api
/devices-api
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE specific metadata folders
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating system files
.DS_Store
Thumbs.db

# Docker persistence volume artifacts
pgdata/
